<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354063573130-726645uf242vnecbjt7qo366qbtae1tv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354063573130-726645uf242vnecbjt7qo366qbtae1tv</string>
	<key>API_KEY</key>
	<string>AIzaSyDwuHuLfn2zZI3cEagaZKE1DovENWCQZFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>354063573130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.encode.firebaseloginapp</string>
	<key>PROJECT_ID</key>
	<string>firebasetestdb</string>
	<key>STORAGE_BUCKET</key>
	<string>firebasetestdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354063573130:ios:b2301d6c2465c18a368d73</string>
</dict>
</plist>